services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../:/workspace:cached
    command: sleep infinity
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_API_URL=http://gt-omr-api-1:8000
    ports:
      - "3000:3000"

networks:
  default:
    name: omr-network
    external: true
